@media screen and (max-width:1024px) {
    main {
        height: 75vh ;
    }
    nav {
        display: none;
    }
    header {
        height: 7vh;
    }
    main #top {
        margin: 0px auto;
    }
    .dot {
        margin-top: 60px;
    }
    main #art02 {
        margin-top: 40px;
    }
    /* footer #rights img {
        display: none;
    } */
     footer {
        height: 20vh;
     }
 }