body {
    margin: 0px;
    background-image: url('../images/milkyway.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    text-align: center;
    background-color:rgba(0, 0, 0, 0.473);
    border-bottom: 1px solid white;
    font-size: 18px;
}

header #topnav nav {
    margin-bottom: 20px;
}
header #topnav nav ul {
    list-style: none;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

header #topnav nav ul li {
    margin-top: 15px;
}
header #topnav nav ul li a:hover {
    color: rgb(208, 233, 255);
    
}

header #topnav nav ul li a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

header #topnav nav ul li i {
    margin-right: 8px;
}
main #greet {
    width: 70%;
    margin: 20px auto;
}
main #top {
    width: 70%;
    margin: 50px auto;
    justify-content: right;
    font-size: 16px;
    font-family: "Playfair Display", serif;
   font-weight: 400;
   font-style: normal;
   color: white;
}
main #art01 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
main #art01 p {
    margin: 0px;
    font-size: 22px;
}

main #up{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 0px auto;

   
}
main #up #img002 img{
    width: 300px;
    height: 300px;
    opacity: 0.9;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 180px;
    padding: 5px;
    transform: rotate(-10deg);
}
main #up #img002 img:hover{
    transform: rotate(10deg);
}
main #down{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    margin-top: 50px;
    font-size: 18px;
   
   
}
main #down #form001{
    position: relative;
}
main #art02 {
    width: 300px;
    height: 220px;
    color: white;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.218);
    display: flex;
    flex-direction: column;
    gap: 35px;
    justify-content: center;
    align-items: center;
    margin-top: 30PX;  
    margin-bottom: 30PX;  
}
main #art02 button{
    width: 120px;
    height: 28px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 8px;
    font-size: 16px;
}
main #art02 button:hover{
    background-color: black;
}
main #art02 input{
    border-radius: 5px;
    font-size: 18px;
    padding: 3px;
    width: 200px;
    border: none;
}
main #art02  p{
    margin: 10px;
}


main .art03 {
    position: absolute;
    top: 70px;
    left: 50px;
    display: none;
    font-size: 30px;
}
main .art04 {
    position: absolute;
    top: 120px;
    left: 50px;
    display: none;
    font-size: 30px;
}
main #subjects {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    height: 220px;
    font-size: 18px;
    
}
main #subjects #subject{
    border: 1px solid white;
    border-radius: 8px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.218)
    
}
main #subjects a{
    color: rgb(255, 255, 255);
}
main #subjects a:hover{
    color: rgb(208, 233, 255);
}
main #subjecthead {
    margin-top: 30px;
    text-align: center;
    color: white;
}

main #contact{
    width: 70%;
    margin:  30px auto;  
    font-size: 18px;
 }
main #contact #b{
    display: flex;
    justify-content: center;
 }
main #contact1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px auto;
 }
 main #contact1 label{
    margin: 0 30px;
 }
  
main #contact1 input {
    border: 1px solid #6D2323;
    border-radius: 5px;
    height: 30px;
    margin: 20px auto;
}

 main #b {
    margin: 20px auto;
 }
 main #b button{
    width: 120px;
    height: 30px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 8px;
    font-size: 18px;
}
main #b button:hover{
    background-color: black;
}
main #links{
    width: 70%;
    margin: 0px auto;
    margin-top: 20px;
}
main #links a{
    text-decoration: none;
    font-size: 18PX;
    margin: 15px;
    color: white;
}
main #links a:hover{
    text-decoration: underline;
}
main #persons{
    width: 70%;
    margin: 0px auto;
    margin-top: 20px;
}
main #persons a{
    text-decoration: none;
    font-size: 18PX;
    margin:10px;
    color: white;
}
main #persons a:hover{
    text-decoration: underline;
}
footer {
    display: flex;
    color: white;
    width: 80%;
    margin: 0px auto;
    margin-top: 50px;
    justify-content: center;
}

footer #rights {
    text-align: center;
    padding: 30px;
}
footer #rights p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-shadow: 1px 1px 3px black;
    margin: 20px;
}
main #h {
    width: 70%;
    margin: 30px auto;
    color: white;
}
main #termcard {
    width: 40%;
    font-size: 22px;
    margin: 0px auto;
    color: white;
    display: flex;
    flex-direction: column;
}
main #termcard button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color:rgba(0, 0, 0, 0.473);
    color: white;
    border: 1px solid white;
    border-radius: 5px 5px 0px 0px;
    padding: 10px;
    cursor: pointer;
    transition: 0.4s;
}
main #termcard button:hover{
    border: 1px solid rgb(208, 233, 255);
    color: rgb(208, 233, 255);
}
main #termcard a{
    color: white;
}
main #termcard a:hover{
    color: rgb(208, 233, 255);
}
main #termcard .info{
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    display: none;
}

  